.avatar {
  user-select: none;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  margin-left: 10px;
  background-color: #ea2020;
  border-radius: 50%;
  font-style: normal;
  color: #fff;
}
